.watch {
  width: 250px;
  height: 460px;
  background: url("../images/apple-watch.png") no-repeat;
  position: relative;
}

.viewport {
  position: absolute;
  width: 150px;
  height: 190px;
  left: 44px;
  top: 130px;
  overflow: hidden;
}

.screen {
  overflow: hidden;
}

.home {
  position: absolute;
  width: 150px;
  height: 190px;
}

.app {
  position: absolute;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: white;
}
