.watch {
  width: 200px;
  height: 372px;
  background: url("../images/apple-watch-white.png") no-repeat;
  position: relative;
  margin-bottom: 25px;
}

.viewport {
  position: absolute;
  width: 135px;
  height: 170px;
  left: 30px;
  top: 100px;
  overflow: hidden;
}

.screen {
  overflow: hidden;
}

.home {
  position: absolute;
  width: 135px;
  height: 170px;
}

.app {
  position: absolute;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  transform-origin: center;
  background-size: 37px 37px;
  background-color: transparent;
}
