<div class="container">
  <!-- About this project -->
  <h4>About this project</h4>
  <p>This is my second AngularJS project, the first one is <a href="http://www.jinandsu.net/huarongdao/#/game">华容道(Hua Rong Dao)</a>. When Apple released the Apple Watch, I was quite interested in its UI design, so unique and elegant, I guess it must be written in Objective-C or Swfit plus Core Animation, as a JavaScript fanboi, my first thought is to build an Apple Watch UI with HTML5 and JavaScript.</p>
  <hr/>

  <!-- Frameworks -->
  <h4>Frameworks</h4>
  <p>Good frameworks can help scaffold and build HTML5 project easily, I choose <a href="http://yeoman.io/">Yeoman</a> because it integrates tools like <a href="http://gruntjs.com/">Grunt</a>, <a href="http://bower.io/">Bower</a> etc and it also works smoothly with <a href="https://angularjs.org/">AngularJS</a>.</p>
  <div class="center-block">
    <img src="images/yeoman-tools.png" class="img-responsive center-block"/>
  </div>
  <p>From my point of view, AngularJS is perfect for building small projects, it's easy to setup, easy to learn and it has a lot of great features like directive, service and factory.</p>
  <div class="center-block">
    <img src="images/angularjs.png" class="img-responsive center-block"/>
  </div>
  <p>I really enjoyed using Yeoman to scaffold AngularJS project, it makes my life so much easier. Also my favourite IDE is <a href="https://www.jetbrains.com/webstorm/">WebStorm</a>, it integrates Grunt so that I can manage all the tasks(test, dist, serve etc) very easily.</p>
  <hr/>

  <!-- Algorithm -->
  <!-- <h4>Algorithm</h4>
  <p></p>
  <hr/> -->

  <!-- Source -->
  <h4>Complete source</h4>
  <p>The complete source of this project can be found on <a href="https://github.com/jeantimex/apple-watch-ui">Github</a>, to build the project locally, clone the source and run:</p>
  <div class="well">
    $ npm install<br/>
    $ bower install<br/>
    $ grunt serve
  </div>
  <hr/>

  <!-- Thanks -->
  <h4>Thanks</h4>
  <p>It took me about two weeks to finish this project as I can only work at night and over the weekends. Sometimes I couldn't focus on the tasks that my wife assigned to me, thank you so much for supporting me darling!</p>
  <p>Hope you enjoy this game, and feel free to let me know if you have any question.</p>
  <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:jean.timex@gmail.com">jean.timex@gmail.com</a></p>
</div>
